anyio==3.3.2
asgiref==3.4.1
backcall==0.2.0
backports.entry-points-selectable==1.1.0
black==21.9b0
certifi==2021.5.30
cfgv==3.3.1
charset-normalizer==2.0.6
click==8.0.1
click-completion==0.5.2
click-default-group==1.2.2
colorama==0.4.4
commonmark==0.9.1
coverage==6.0.1
cucumber-tag-expressions==4.1.0
decorator==5.1.0
distlib==0.3.3
dnspython==2.1.0
email-validator==1.1.3
fastapi==0.70.0
filelock==3.3.0
flake8==4.0.1
greenlet==1.1.2
h11==0.12.0
httptools==0.2.0
identify==2.3.0
idna==3.2
ipdb==0.13.9
ipython==7.28.0
isort==5.9.3
itsdangerous==2.0.1
jedi==0.18.0
Jinja2==3.0.2
MarkupSafe==2.0.1
matplotlib-inline==0.1.3
mccabe==0.6.1
mypy-extensions==0.4.3
nodeenv==1.6.0
orjson==3.6.4
parso==0.8.2
pathspec==0.9.0
pexpect==4.8.0
pickleshare==0.7.5
platformdirs==2.4.0
pluggy==1.0.0
pprintpp==0.4.0
pre-commit==2.15.0
prompt-toolkit==3.0.20
psycopg2-binary==2.9.1
ptyprocess==0.7.0
pycodestyle==2.8.0
pydantic==1.8.2
pyflakes==2.4.0
Pygments==2.10.0
python-dotenv==0.19.0
python-multipart==0.0.5
PyYAML==5.4.1
regex==2021.10.8
requests==2.26.0
rich==10.12.0
shellingham==1.4.0
six==1.16.0
sniffio==1.2.0
SQLAlchemy==1.4.25
sqlalchemy2-stubs==0.0.2a17
sqlmodel==0.0.4
starlette==0.16.0
toml==0.10.2
tomli==1.2.1
traitlets==5.1.0
typing-extensions==3.10.0.2
ujson==4.2.0
urllib3==1.26.7
uvicorn==0.15.0
uvloop==0.16.0
virtualenv==20.8.1
ward==0.64.0b0
watchgod==0.7
wcwidth==0.2.5
websockets==10.0
